*{
    background-color: rgb(197, 159, 101);
}
.container{
    background-color: rgb(241, 199, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    margin:50px;
    border: solid 2px;
    border-color:  rgb(145, 118, 77);
    border-radius: 5px; 
}
.img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.flexbox{
   background-color:  rgb(197, 159, 101);
   width: 250px;
   height: 400px;
   margin: 30px;
   border-radius: 10px;
   border: solid 1px;
   border-color:  rgb(145, 118, 77); 
}
.like{
   display: flex;
}
.coeur{
    margin-left: 120px;
    margin-top: 17px;
}
.btn1{
    color: black;
}
.Quantités{
    display: flex;
    margin-top: -20px;
}
.moins{
    width: 20px;
    height: 20px;
    margin-top: 17px;
    margin-left: 5px;
}
.plus{
    width: 20px;
    height: 20px;
    margin-top: 19px;
}
.zéro{
    margin-top: 18px;
    font-size: 20px;
}
.div{
    display: flex;
    margin-top: -20px;
}
.supprimer{
    height: 20px;
    margin-top: 20px;
    margin-left: 135px;
}
.main{
    display: flex;
}
.prixt{
    margin-top: 80px;
    margin-left: -40px;
}
button{
   background-color: transparent;
   border: none;
   font-size: 20px;
}

